<%
@file = "output/" + @name_of_story + ".txt"
f = File.open(@file, "r")
  @string = f.read
f.close

for i in 1..@noun.size
  @string.sub!("[noun]", @noun[i-1].to_s)
end
%><br><%
for j in 1..@verb.size
  @string.sub!("[verb]", @verb[j-1].to_s)
end
%><br><%
for k in 1..@adjective.size
  @string.sub!("[adj]", @adjective[k-1].to_s)
end
%><br><%
%>

<h1> Your Rad Lib </h1>
<br>
<%=@string%>

</br>

<a href = "/">Home</a>


<link href="Stylesheet.css" type = "text/css" rel="stylesheet">

