<html>
<head>
  <h1> File uploader</h1>
</head>
<link href="Stylesheet.css" type = "text/css" rel="stylesheet">
<body>
  <form method="post" enctype='multipart/form-data'>   
    <input type='file' name='myfile'/>
    <br>
    <input type='submit' value='Upload!'/>
  </form>
  </br>
  <a href = "/">Home</a>
</body>
</html>
